<h2 class="page-header">Find Book</h2>

<form action="/books" method="get">

    <div class="form-row">
        <div class="form-item">
            <label for="">Title</label>
            <input type="text" name="title" id="title" value="<%= searchCondition.title %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label for="">Published Before</label>
            <input type="date" name="publishedBefore" id="before" value="<%= searchCondition.publishedBefore %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label for="published">Publish After</label>
            <input type="date" name="publishedAfter" id="after" value="<%= searchCondition.publishedAfter %>">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Find</button>
    </div>

</form>

<%- include('../partials/bookGrid.ejs', {books, large: true}) %>