<h2>Find Book</h2>
<form action="/books" method="get">
<label for="">Name</label>
<input type="text" name="name" id="" value="<%= searchCondition.name %>">
<button type="submit">Find</button>
</form>

<br>
<% books.forEach( book => { %>
    <div><%= book.title %></div>
<% }) %>