@import 'shared/variables.css';
@import 'shared/buttons.css';
@import 'shared/header.css';
@import 'shared/form.css';
@import 'shared/author.css';
@import 'shared/books.css';

*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: border-box;
}


body {
    margin: 0;
    background: linear-gradient(to left, var(--clr-background-dark), var(--clr-background-light));
    color: var(--clr-text-light);
    font-family: var(--fnt-body);
    font-weight: 300;
    font-size: 1.5rem;

}

form {
    margin-bottom: 2rem;
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 2rem;
}

.gradient-bar {
    background: linear-gradient(to right, var(--clr-background-counter-dark), var(--clr-background-counter-light));
    height: .2rem;
}

.page-header {
    font-family: var(--fnt-breaks);
    font-size: 2rem;
    font-weight: 500;
}

.error-message {
    color:
        var(--clr-error-message);
}