<label for="name">Author Name</label>
<% if (author != undefined && author != '' ) {%>

<input type="text" name="name" id="name" value="<%=author.name%>">
<% }else {%>

<input type="text" name="name" id="name" value="">
<% } %>