<div class="form-row">
    <div class="form-item">
        <label for="name">Author
        </label>
        <% if (author != undefined && author != '' ) {%>
        <input type="text" name="name" id="name" value="<%=author.name%>">
        <% }else {%>
        <input type="text" name="name" id="name" value="">
        <% } %>
    </div>
</div>