<h2 class="page-header"><%= author.name %></h2>


<% if(author.bookList.length > 0) {%>

<H4 class="page-header">Book List</H4>
<%- include('../partials/bookGrid.ejs', { books: author.bookList, large: false}) %>


<%  }else {%>
<div class="btn-row">
    <a href="/authors" class='btn btn-danger'>Cancel</a>
    <%- include('../partials/deleteForm.ejs', {url: `/authors/${author.id}`, name: `${author.name}` } )%>
</div>


<% } %>